* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;

    & .header {
        background-color: rgb(255, 105, 51);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 150px;
        z-index: 1;
        border-bottom: 1px solid #e7e7e7;
        -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);

        &__top {
            color: white;
            display: flex;
            width: 100%;
            padding: 1rem 10rem;
            align-items: center;

            &--title {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                padding-right: 3rem;
            }

            &--logo {
                cursor: pointer;
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }

            &--icon {
                padding-top: 1rem;
                cursor: pointer;
                font-size: 25px;
                position: relative;

                &__counter {
                    background-color: #4e4e4e;
                    font-size: 15px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;

                    width: 25px;
                    height: 25px;
                    top: 2px;
                    right: -14px;
                    border-radius: 50%;
                }
            }
        }

        &__items {
            padding: 0.5rem 10rem;
            background-color: #f1f1f1;
            display: flex;
            justify-content: space-between;
            flex: 1;
            width: 100%;
            height: 100%;
            align-items: center;

            & a {
                text-decoration: none;
                color: black;
            }

            & .activeUrl {
                font-weight: 600;
            }
        }
    }

    & .cart-container {
        margin-top: 160px;
        text-align: center;
    }

    & .container {
        margin-top: 160px;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;


        &__text {
            font-size: 150%;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        &__item-list {
            display: flex;
            justify-content: flex-start;
            gap: 5%;
            flex-wrap: wrap;
            width: 100%;

            & .item-count {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                flex: 0 0 21.25%;
                padding: 1rem;
                overflow: hidden;

                background-color: #e7e7e7;
                border-radius: 1rem;
                margin: 1rem 0;
                -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);

                &--header {
                    width: 100%;
                    text-align: center;
                    position: relative;

                    & h3 {
                        margin: 0 2.25rem;
                    }

                    & button {
                        position: absolute !important;
                        top: -10px;
                        right: -10px;


                    }
                }

                &--body {
                    width: 200px;
                    height: 200px;
                    position: relative;

                    &__img {
                        width: 100%;
                        height: 100%;
                        border-radius: 1rem;
                    }

                    &__counter {
                        // background-color: rgb(248, 103, 50);
                        background-color: #4e4e4e;
                        color: white;
                        opacity: 0.9;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;

                        width: 25px;
                        height: 25px;
                        top: -12px;
                        right: -12px;
                        border-radius: 50%;
                    }

                }

                &--controls {
                    width: 100%;
                    display: flex;

                    &__subtract {
                        width: 15%;
                        border-radius: 6px 0px 0px 6px !important;
                    }

                    &__input {
                        width: 70%;
                        border-radius: 0px !important;
                        text-align: center;
                    }

                    &__add {
                        width: 15%;
                        border-radius: 0px 6px 6px 0px !important;
                    }
                }

                &--secondary__controls {
                    width: 100%;
                    display: flex;
                    gap: 5px;

                    &--add-cart {
                        flex-grow: 1;
                        align-items: center;
                        background-color: rgb(248, 103, 50);
                        color: #ffffff;

                        &:disabled {
                            color: #cacaca;
                            opacity: 0.75;
                        }
                    }

                    &--remove-cart {
                        flex-shrink: 1;
                        align-items: center;
                        background-color: rgb(215 0 0);
                        color: #ffffff;

                        &:disabled {
                            color: #cacaca;
                            opacity: 0.75;
                        }
                    }
                }

                input[type="number"] {
                    -webkit-appearance: textfield;
                    -moz-appearance: textfield;
                    appearance: textfield;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }
            }
        }

        & .modal-detail {
            background-color: rgb(128 128 128 / 70%);
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            z-index: 2;

            justify-content: center;
            align-items: center;

            &.show {
                display: flex;
            }

            &.hide {
                display: none;
            }

            &__content {
                position: relative;
                display: flex;
                background-color: white;
                padding: 2rem 1rem;
                width: 50vw;
                min-height: 30vh;

                gap: 1rem;

                border: 1px solid rgb(128 128 128 / 40%);

                border-radius: 1rem;
                -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);

                &--close {
                    position: absolute;
                    top: 0px;
                    right: 5px;
                    font-size: 1.5rem;
                    cursor: pointer;
                    padding: 5px;

                    text-decoration: none;
                    color: rgb(248, 103, 50);
                }

                &--img {
                    display: flex;
                    flex: 1;
                    justify-content: center;

                    & img {
                        border-radius: 1rem;
                        width: 300px;
                        height: 100%;
                        -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                        box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
                    }
                }

                &--info {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgb(128 128 128 / 40%);
                    border-radius: 1rem;

                    flex: 2;
                    padding: 1rem;

                    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
                    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);

                    &__header {
                        display: flex;
                        flex: 1;
                        justify-content: center;

                        & h2 {
                            text-align: center;
                        }
                    }

                    &__body {
                        display: flex;
                        flex: 9;
                        padding: 1rem 0;

                        & .item-detail-info {

                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            & p {
                                font-weight: 600;
                                font-size: 1.2rem;

                                & span {
                                    font-weight: 500;
                                }
                            }

                        }
                    }

                    &__footer {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        & .item-count--controls {
                            width: 100%;
                            display: flex;

                            &__subtract {
                                width: 15%;
                                border-radius: 6px 0px 0px 6px !important;
                            }

                            &__input {
                                width: 70%;
                                border-radius: 0px !important;
                                text-align: center;
                            }

                            &__add {
                                width: 15%;
                                border-radius: 0px 6px 6px 0px !important;
                            }
                        }

                        & .item-count {

                            &--secondary__controls {
                                width: 100%;
                                display: flex;
                                gap: 5px;

                                &--add-cart {
                                    flex-grow: 1;
                                    align-items: center;
                                    background-color: rgb(248, 103, 50);
                                    color: #ffffff;

                                    &:disabled {
                                        color: #cacaca;
                                        opacity: 0.75;
                                    }
                                }

                                &--remove-cart {
                                    flex-shrink: 1;
                                    align-items: center;
                                    background-color: rgb(215 0 0);
                                    color: #ffffff;

                                    &:disabled {
                                        color: #cacaca;
                                        opacity: 0.75;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}